<p>personlist works!</p>


<table class="table table-hover">
    <thead class ="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th> Total Amount</th>
            <th>Sales Volume</th>
            <th>Met Requirement?</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let singleperson of salespersonlist">
            <td>{{singleperson.firstname}}</td>
            <td>{{singleperson.lastname}}</td>
            <td>{{singleperson.email}}</td>
            <td>{{singleperson.salesvolume*150 | currency:'INR'}}</td>
            <td>{{singleperson.salesvolume}}</td>
            <td>
                <div *ngIf="singleperson.salesvolume >=700; else myElseBlock">Yes</div>
                <ng-template #myElseBlock>No</ng-template>
            </td>
        </tr>
    </tbody>



</table>