<p>personlist works!</p>


<table class="table table-hover">
    <thead class ="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volume</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let singleperson of salespersonlist">
            <td>{{singleperson.firstname}}</td>
            <td>{{singleperson.lastname}}</td>
            <td>{{singleperson.email}}</td>
            <td>{{singleperson.salesvolume}}</td>
        </tr>
    </tbody>



</table>